.login-box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: fit-content;
}
    
.login-box h2 {
  margin-bottom: 20px;
  color: #343a40;
}

.login-box p {
  margin-top: 20px;
}